* {
  font-family: 'Zilla Slab', sans-serif;
  box-sizing: border-box;
  
  user-select: none;
}

html, body, canvas {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 12px;
}

canvas {
  image-rendering: pixelated;
}

h1 {
  font-size: 5rem;
  font-family: 'Zilla Slab', sans-serif;
  text-align: center;
  margin: 1rem 0 3.5rem 0;
  user-select: none;
}

h2 {
  font-size: 3rem;
  font-family: 'Zilla Slab', sans-serif;
  text-align: center;
  margin: 0 0 2rem 0;
  user-select: none;
}

h3 {
  font-size: 2.5rem;
  font-family: 'Zilla Slab', sans-serif;
  text-align: center;
  margin: 0 0 2rem 0;
  user-select: none;
}

.h-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.v-flex {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  width: 100%;
}

.hoverable:hover {
  filter: invert(1);
}

/* HUD Display */
#hud {
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  padding: 24px 0 0 16px;
}

#avatar {
  pointer-events: none;
  height: 120px;
  flex: 0 0 120px;
  line-height: 120px;
  text-align: center;
  color: white;
  font-size: 80px;
  outline: 2px solid white;
  border-radius: 60px;
  background-color: #00000066;

  margin-right: 20px;

  user-select: none;
}

#guns-container {
  width: 642px;
}

#hpbar-outer {
  width: 632px;
  height: 18px;
  outline: 2px solid white;
  border-radius: 5px;
  background-color: #66444477;
  
  margin-bottom: 10px;
}

#hpbar-inner {
  background-color: red;
  height: 100%;
  width: 39%;
}

.gun-slot {
  flex: 0 0 17em;
  width: 17em;
  height: 7.66em;

  outline: 2px solid white;
  border-radius: 5px;
  background-color: #00000066;

  margin-right: 10px;
}

.gun-img {
  margin: 0 0.66em;
  image-rendering: pixelated;
  width: 2.66em;
  height: 2.66em;
}

.gun-info {
  height: 100%;
  border-left: 2px solid white;
}

.gun-stats {
  flex: 1;
  padding: 0.66em 0 0 0.66em;
  border-top: 2px solid white;
  width: 100%;
}

.gun-stat {
  font-family: 'JetBrains Mono', monospace;
  color: white;
}

.stat-img {
  filter: invert(1);
  margin-top: 0.33em;
  margin-bottom: -0.33em;
  width: 1.33em;
  height: 1.33em;
}

.stat-img-col2 {
  margin-left: 3.75em;
  margin-right: -5em;
}

h5 {
  margin: 0.66em 0 0.66em 0.66em;
  font-weight: 600;
  font-size: 1em;
}

#turrets-container {
  margin-top: 40px;
}

.turret-slot {
  flex: 0 0 144px;
  width: 214px;
  height: 144px;

  outline: 2px solid white;
  border-radius: 5px;
  background-color: #00000066;

  margin-bottom: 10px;
  position: relative;
}

.key-tag {
  position: absolute;
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  font-weight: 600;
  color: white;
  left: 0;
  top: 0;
  padding: 2px 6px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-radius: 0 0 4px 0;
}

.turret-img {
  margin: 0 16px 24px;
  image-rendering: pixelated;
}

.turret-base-img {
  margin: 8px -46px 0 16px;
  image-rendering: pixelated;
}

.turret-deployment-status {
  margin: 0 8px 8px 8px;
}

.turret-hpbar-outer {
  flex: 0 0 6px;
  width: 128px;
  margin: 0 16px 8px 8px;
  background-color: #FFAAAACC;
}

.turret-hpbar-inner {
  background-color: red;
  height: 100%;
  width: 39%; 
}

.chest-option {
  width: 220px;
  padding: 24px 0;
  margin: 0 7.5px;
}

/* DIALOGS */

button {
  pointer-events: all;
  cursor: pointer;
}

dialog {
  top: 50%;
  transform: translateY(-50%);
  padding: 24px 48px;
  background: #cbdfb6;
  border: 4px solid #778b60;
  border-radius: 8px;
}

#modal-backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #00000066;
}

#the-new-gun {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding-left: 10px;
}

#replace-gun-slots {
  margin-bottom: 2rem;
  padding-left: 10px;
}

#discard-new-gun {
  margin: auto;
  padding: 2rem 3rem 0;
}