* {
  font-family: 'Zilla Slab', sans-serif;
  box-sizing: border-box;
  
  user-select: none;
}

html, body, canvas {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 14px;

}

canvas {
  image-rendering: pixelated;
  filter: saturate(1.0) contrast(1.0);
  transition: filter 0.2s;
}

h1 {
  font-size: 4rem;
  font-family: 'Zilla Slab', sans-serif;
  text-align: center;
  margin: 1rem 0 3.5rem 0;
  user-select: none;
}

h2 {
  font-size: 2.5em;
  font-family: 'Zilla Slab', sans-serif;
  text-align: center;
  margin: 0 0 2rem 0;
  user-select: none;
}

h3 {
  font-size: 2.5em;
  font-family: 'Zilla Slab', sans-serif;
  text-align: center;
  margin: 0 0 0.8em 0;
  user-select: none;
}

.h-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.v-flex {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  width: 100%;
}

.spacer {
  flex: 1 1 1em;
}

.hoverable:hover {
  filter: invert(1);
}

.disabled {
  opacity: 0.3;
}

.h3-button {
  padding: 2rem 3rem 0;
  display: block;
}

/* Log messages */
#messages {
  position: absolute;
  right: 0;
  bottom: 0;
  align-items: end;
  justify-content: end;
  padding: 0 2em 2em 0;
}

#messages span {
  font-family: "JetBrains Mono", monospace;
}

.log-message {
  opacity: 1;
  transition: opacity 0.5s;
  font-style: italic;
  font-size: 1rem;
}

/* HUD Display */
#hud {
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  padding: 24px 0 0 16px;
}

#avatar {
  pointer-events: none;
  height: 10rem;
  flex: 0 0 10rem;
  outline: 2px solid white;
  border-radius: 5rem;
  background-color: #00000066;
  overflow: clip;
  text-align: center;

  margin-right: 1rem;

  user-select: none;
  position: relative;
}

#avatar > span {
  line-height: 10rem;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  color: white;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

#xp-bar {
  position: absolute;
  height: 12rem;
  width: 12rem;
  background-color: rgba(141, 243, 233, 0.589);
  z-index: 0;
  top: 100%;
  transition: top 0.5s ease-out;
}

#hpbar-outer {
  width: 46.2rem;
  height: 1rem;
  outline: 2px solid white;
  border-radius: 5px;
  background-color: #66444477;
  
  margin-bottom: 1rem;
}

#hpbar-inner {
  background-color: red;
  height: 100%;
  width: 39%;
}

#gun-control-tooltip {
  position: absolute;
  width: unset;
  left: 18em;
  top: 9em;
  align-items: start;

  opacity: 0.8;
}

#gun-control-tooltip svg {
  margin-right: 4px;
}

.key-tag {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 800;
  color: black;
  background: white;
  padding: 2px 6px;
  border: 2px solid white;
  border-radius: 4px;
}

#guns-container {
  width: 46.2rem;
  font-size: 0.8rem;
  align-items: start;
  justify-content: start;
}

.gun-slot {
  flex: 0 0 17em;
  width: 17em;
  min-height: 8em;

  outline: 2px solid white;
  border-radius: 5px;
  background-color: #00000066;

  margin-right: 1rem;
  height: 1px;
}

.gun-slot:first-child {
  font-size: 1rem;
}

.gun-img {
  margin: 0 0.66em;
  image-rendering: pixelated;
  width: 2.66em;
  height: 2.66em;
}

.gun-info {
  height: 100%;
  border-left: 2px solid white;
}

.gun-stats {
  flex: 1;
  padding: 0.66em 0 0.66em 0.66em;
  border-top: 2px solid white;
  width: 100%;
}

.gun-stat {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-style: italic;
  color: white;
}

.stat-img {
  filter: invert(1);
  margin-top: 0.33em;
  margin-bottom: -0.33em;
  width: 1.33em;
  height: 1.33em;
}

.stat-img-col2 {
  margin-left: 3.75em;
  margin-right: -5em;
}

h5.gun-stat {
  margin: 0.66em 0 0.66em 0.66em;
  font-weight: 600;
  font-size: 1em;
}

#turrets-container {
  margin-top: 3rem;
}

.turret-slot {
  flex: 0 0 1rem;
  width: 18rem;
  min-width: 18rem;
  min-height: 12rem;
  height: 1px;

  outline: 2px solid white;
  border-radius: 5px;
  background-color: #00000066;

  margin: 0 1rem 1rem 0;
  position: relative;
}

.turret-slot > .key-tag {
  position: absolute;
  left: 0;
  top: 0;
  border: 0px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-radius: 0 0 4px 0;
}

.turret-img {
  margin: 0 1.17rem 2rem;
  width: 2.66em;
  height: 2.66em;
  image-rendering: pixelated;
}

.turret-base-img {
  margin: 0.66rem -4rem 0 1.33rem;
  width: 2.66em;
  height: 5.33em;
  image-rendering: pixelated;
}

.turret-deployment-status {
  margin: 0 0.66rem 0.66rem 0.66rem;
}

.turret-hpbar-outer {
  flex: 0 0 0.5rem;
  width: 11em;  
  margin: 0 0 0.66rem 0.66rem;
  background-color: #FFAAAACC;
}

.turret-hpbar-inner {
  background-color: red;
  height: 100%;
  width: 39%; 
}

.chest-option {
  width: 18em;
  padding: 2em 0;
  margin: 0 0.5em;
}

/* DIALOGS */

button {
  pointer-events: all;
  cursor: pointer;
}

dialog {
  top: 50%;
  transform: translateY(-50%);
  padding: 24px 48px;
  background: #91a978;
  border: 4px solid #778b60;
  border-radius: 8px;
}

#modal-backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #00000066;
}

#the-new-gun {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding-left: 10px;
}

#replace-gun-slots {
  margin-bottom: 2rem;
  padding-left: 10px;
}

.dialog-slots-container > .gun-slot, .dialog-slots-container > .turret-slot {
  align-self: stretch;
}

#upgrade-gun-slots {
  margin-bottom: 2em;
}

#the-new-gun > .gun-slot, .dialog-slots-container > .gun-slot {
  min-height: 16em;
}

.dialog-slots-container > .turret-slot {
  min-height: 20em;
}

#upgrade-done-slots {
  margin-bottom: 4em;
}

#upgrade-done-slots h1 {
  display: inline;
  margin: 0 20px 0 10px;
}

#upgrade-done-slots > .gun-slot {
  min-height: 16em;
}

#upgrade-done-slots > .turret-slot {
  min-height: 20em;
}

#pause-game > button {
  width: 100%;
  margin-bottom: 1em;
}

#controls-diagram {
  font-size: 0.8rem;
  flex-wrap: wrap;
  max-height: calc( 405px + 10em );
  height: calc( 405px + 10em );
  align-items: center;
}